body{
    background-color: grey;
}

a{
    color: maroon;
}

.container{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

img{
    display: inline-block;
}