body{
    background-color: black;
}

.flexContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.flexItem{
    display: flex;
    flex-direction: row;
    flex-basis: 250px;
    max-width: 65%;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 250px;
    padding-top: 25px;
    align-items:flex-start;
}

.flexItem > img{
    width: 200px;
    height: 200px;
}

main{
    width: 90%;
    background-image: url("/images/background.jpeg");
    margin: 0 5% 0 5%;
}

.flexContainer > div > img{
    align-items: center;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 700;
    color: white;
    text-align: center;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 400;
    color: white;
    border-bottom: 3px solid white;
    width: min-content;
}

.recipe{
    padding-bottom: 15px;
    padding-top: 10px;
}

li{
    list-style-type: disc;
}

ul{
    padding-top: 7px;
}

.recLink{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 400;
}



@media screen and (min-width: 820px) {


}