h2{
    text-align: center;
    padding-top: 25px;
    font-size: x-large;
    color: white;
}

main{
    padding-top: 50px;
    margin-bottom: 0;
    background-color: black;
}

#smallIntro{
    width: 85%;
    margin: auto;
    background-color: black;
    justify-content: center;
    height: 100px;
    padding-bottom: 200px;
}

#smallIntro > p{
    width: 85%;
    margin: auto;
    border: solid 3px maroon;
    padding: 10px;
    text-align: center;
    background-color: darkgrey;
    color: white;
    font-size: large;
}

#introduction{
    display: none;
    width: 90%;
    margin: auto;
    background-color: maroon;
    justify-content: center;
    height: 200px;
}

#introduction > p{
    border: solid 2px white;
    width: 85%;
    margin: auto;
    padding: 15px;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.gallery{
    display: grid;
    width: 90%;
    margin: auto;
    grid: 1fr;
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
    background-color: black;
    height: 90%;
    padding-bottom: 20px;
}

.gallery > div{
    width: 200px;
    height: 200px;
    padding-bottom: 30px;
}

.partTwo{
    margin-top: 50px;
    background-color: black;
    padding-bottom: 30px;
}

@media screen and (min-width: 600px){

    #smallIntro{
        display: none;
    }

    #introduction{
        display: block;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 820px){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}