.flexContainer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flexContainer > div{
    flex-basis: 450px;
    max-width: 45%;
}

.flexContainer > div > img{
    min-width: 200px;
}
